[Unit]
Description=My Node.js App
After=network.target

[Service]
ExecStart=/usr/bin/node /home/ubuntu/aws-ec2-instance-id-app.app.js
ExecStop= kill -9 `lsof -t -i:3000`
WorkingDirectory=/path/to/your/app
Restart=always
User=yourusername
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
[Install]
WantedBy=multi-user.target